$black: #030F0B;
$white: #fff;
$grey: #666;

$cold-1: #07152E;
$cold-2: #1552C2;
$cold-3: #2F5BAD;
$cold-4: #2F5BAD;
$cold-5: #739DEB;

$warm-1: #99240D;
$warm-2: #DF3817;
$warm-3: #E07059;
$warm-4: #E4D4CF;
$warm-5: #E7DDDB;

$neutral-1: #26664D;
$neutral-2: #2B805F;
$neutral-3: #31AD7E;
$neutral-4: #0AD687;

$coral: #666;
$sky-blue: #666;
$snorkel-b: #666;
$gris: #666;
$gris-claro: #666;
$sunshine: #666;
$turkish: #666;

